.u-section-1 .u-sheet-1 {
  min-height: 550px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 356px;
  margin: 60px auto 0 78px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -175px 232px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-right: 32px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 532px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 338px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -157px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 407px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 213px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -32px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}